# Ignore asv files

/ANSYS Parsing/Tests
/Splines/Tests
/SLDV Parsing/Tests
/Simulate Data/Tests
/Power Flow/Cylindrical Power Flow/Tests

/Power Flow/Cylindrical Power Flow/Depreciated Cyl Power Flow/rewriteMusings.m
/Simulate Data/*.asv
